%h1 Infinitest!
  %section
    %section.header
    %section.main
      %div
        Infinitest is a continuous test runner for Java. It intelligently selects and runs JUnit tests as you work, giving you instant feedback about ever change you make to your code.
    %section.footer
