<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension id="org.infinitest.eclipse.marker" point="org.eclipse.core.resources.markers" name="Infinitest Test Failure">
		<persistent value="false"/>
		<super type="org.eclipse.core.resources.problemmarker"/>
	</extension>
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator class="org.infinitest.eclipse.resolution.MarkerResolutionGenerator">
		</markerResolutionGenerator>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Infinitest" class="org.infinitest.eclipse.prefs.PreferencePage" id="org.infinitest.eclipse.prefs.view">
		</page>
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.infinitest.eclipse.prefs.InfinitestPreferenceInitializer"/>
	</extension>
	<extension point="org.eclipse.ui.startup">
		<startup class="org.infinitest.eclipse.ContinuousTestingStarter"/>
	</extension>
	<extension id="org.infinitest.eclipse.slowmarker" name="Infinitest Slow Test Warning" point="org.eclipse.core.resources.markers">
		<persistent value="false">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution allPopups="false" locationURI="toolbar:org.eclipse.ui.trim.status">
			<toolbar id="org.infinitest.eclipse.status" label="Infinitest Bar">
				<command commandId="org.infinitest.eclipse.toggle" style="toggle">
				</command>
				<control id="org.infinitest.eclipse.trim.StatusBar" class="org.infinitest.eclipse.trim.StatusBar">
				</control>
			</toolbar>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<command id="org.infinitest.eclipse.toggle" defaultHandler="org.infinitest.eclipse.prefs.InfinitestToggleCommandHandler" icon="icons/infinitest-icon.png" name="Infinitest">
			<state>
			</state>
		</command>
	</extension>
	<extension point="org.eclipse.ui.commandImages">
		<image commandId="org.infinitest.eclipse.toggle" icon="icons/infinitest-icon.png">
		</image>
	</extension>
</plugin>
