# IntelliJ IDEA files
.idea
*.iml
test-output/


# gradle
.gradle
build/

# Eclipse files
.classpath
.metadata
.project
.settings/
bin/

# Maven files
target/

# Other files
.DS_Store
*.class
.privatebuild/
lib/
