name: Build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '8', '11', '17', '19' ]
    name: Unit tests Java ${{ matrix.Java }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.Java }}
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.Java }}
          cache: 'maven'
      - name: Install SWT dependencies
      # Eclipse/SWT 3.6 requires GTK+ 2.4.1 and its dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gtk2.0 libxtst6
      - name: Build and Test Java 8
        if: ${{ matrix.Java == '8' }}
      # We need a virtual X11 for the Eclipse unit tests
        run: |
          xvfb-run -a mvn -B test -pl infinitest-lib,infinitest-runner -am
      - name: Build and Test Java > 8
        if: ${{ matrix.Java != '8' }}
      # We need a virtual X11 for the Eclipse unit tests
        run: |
          xvfb-run -a mvn -B test
      - name: Verify Plugin on IntelliJ Platforms
        if: ${{ matrix.Java == '17' }}
        uses: ChrisCarini/intellij-platform-plugin-verifier-action@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          plugin-location: 'infinitest-intellij/target/infinitest-intellij-*-dist.zip'
          ide-versions: |
            ideaIC:2020.1.4
            ideaIC:LATEST-EAP-SNAPSHOT
  codeql-analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 11
          cache: 'maven'
      - name: Install SWT dependencies
      # Eclipse/SWT 3.6 requires GTK+ 2.4.1 and its dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gtk2.0 libxtst6
          sudo apt-get install -y xvfb x11-utils libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 libxcb-xfixes0 xdotool
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: java
      - name: Build and Test
        run: |
          # The runner seems to fail when codeql is setup so we need to skip unit tests
          xvfb-run --auto-servernum mvn -B clean install -DskipTests=true
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2
  sonar-analysis:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 11
          cache: 'maven'
      - name: Sonarcloud analysis
        run: |
          mvn -e -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
