name: Build
on:
  push:
  pull_request:
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '11', '17', '18' ]
    name: Unit tests Java ${{ matrix.Java }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.Java }}
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.Java }}
          cache: 'maven'
      - name: Install SWT dependencies
      # Eclipse/SWT 3.6 requires GTK+ 2.4.1 and its dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gtk2.0 libxtst6
      - name: Build and Test
      # We need a virtual X11 for the Eclipse unit tests
        uses: GabrielBB/xvfb-action@v1
        with:
          run: |
            mvn -B test
  code-analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 11
          cache: 'maven'
      - name: Cache SonarCloud packages
        uses: actions/cache@v1
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Install SWT dependencies
      # Eclipse/SWT 3.6 requires GTK+ 2.4.1 and its dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gtk2.0 libxtst6
          sudo apt-get install -y xvfb x11-utils libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 libxcb-xfixes0 xdotool
      - name: Sonarcloud analysis
        run: |
          xvfb-run --auto-servernum mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
            -Dsonar.projectKey=infinitest-parent \
            -Dsonar.organization=infinitest-github \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: java
      - name: Build and Test
        run: |
          # The runner seems to fail when codeql is setup so we need to skip unit tests
          xvfb-run --auto-servernum mvn -B clean install -DskipTests=true
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2